<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals               = "false"
         backupStaticAttributes      = "false"
         colors                      = "true"
         convertErrorsToExceptions   = "true"
         convertNoticesToExceptions  = "false"
         convertWarningsToExceptions = "false"
         processIsolation            = "false"
         stopOnFailure               = "false"
         syntaxCheck                 = "false">
  <coverage>
    <include>
      <directory suffix=".php">../src</directory>
    </include>
    <report>
      <text outputFile="php://stdout" showUncoveredFiles="true"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="main">
      <directory suffix="Test.php">.</directory>
    </testsuite>
  </testsuites>
  <logging/>
</phpunit>
